<!DOCTYPE html>
<html>
  {{= this.partial('head.html') }}
  <body>
    <header class="background-img">
      <div>
        <h1 class="window-text">Front-End Resources</h1>
        <!-- <h2>This is the subheader. Yada, yada, yada.</h2> -->
      </div>
    </header>
    <nav class="navigation">
      <ul class="navigation-list ul-reset">
        <li class="navigation-item ib">
          <a href="http://localhost:3000" class="navigation-link">
            All
          </a>
        </li>
        <li class="navigation-item ib">
          <a href="/?tags=CSS" class="navigation-link">
            CSS
          </a>
        </li>
        <li class="navigation-item ib">
          <a href="/?tags=JavaScript" class="navigation-link">
            JavaScript
          </a>
        </li>
        <li class="navigation-item ib">
          <a href="/?tags=React" class="navigation-link">
            React
          </a>
        </li>
        <li class="navigation-item ib">
          <a href="/?tags=Angular" class="navigation-link">
            Angular
          </a>
        </li>
        <li class="navigation-item ib">
          <a href="/?tags=Ember" class="navigation-link">
            Ember
          </a>
        </li>
        <li class="navigation-item ib">
          <a href="/?tags=Elm" class="navigation-link">
            Elm
          </a>
        </li>
        <li class="navigation-item ib">
          <a href="/?tags=Meteor" class="navigation-link">
            Meteor
          </a>
        </li>
        <li class="navigation-item ib">
          <a href="/?tags=Polymer" class="navigation-link">
            Polymer
          </a>
        </li>
        <li class="navigation-item ib">
          <a href="/?tags=Newsletters" class="navigation-link">
            Newsletters
          </a>
        </li>
        <li class="navigation-item ib">
          <a href="/?tags=Books" class="navigation-link">
            Books
          </a>
        </li>
        <li class="navigation-item ib">
          <a href="/?tags=Podcasts" class="navigation-link">
            Podcasts
          </a>
        </li>
        <li class="navigation-item ib">
          <a href="/?tags=Other" class="navigation-link">
            Other
          </a>
        </li>
      </ul>
    </nav>
    <div class="tile-container">
      {{= this.child() }}
    </div>
    <button class="fab" type="button" onclick="$('html, body').animate({scrollTop:0}, 400);" style="display:none;">
      <i class="fa fa-arrow-up fa-fw fa-2x"></i>
    </button>
    <footer class="footer background-img">
      <div class="wrapper">
        <article class="content-article">
          <p>
            <strong>Pellentesque habitant morbi tristique</strong>
            senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
            <em>Aenean ultricies mi vitae est.</em>
            Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,
            <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.
            <a href="#">Donec non enim</a>
            in turpis pulvinar facilisis. Ut felis.</p>
        </article>
      </div>
    </footer>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:800' rel='stylesheet' type='text/css'>
    <link href="https://opensource.keycdn.com/fontawesome/4.5.0/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/0.4.0/trianglify.min.js"></script>
    <script src="../static/js/jquery.colourBrightness.min.js"></script>
    <script>
      $(document).ready(function() {

        var pattern = Trianglify({
          cell_size: 65,
          variance: 1,
          x_colors: 'random',
          y_colors: 'match_x',
          palette: Trianglify.colorbrewer,
          color_space: 'lab',
          color_function: false,
          stroke_width: 1.51,
          width: 1600,
          height: 800,
          seed: null
        });

        var patternSvg = pattern.svg();

        // Serialize the SVG object to a String
        var serialiazedPattern = new XMLSerializer().serializeToString(patternSvg);

        var patternHtml = patternSvg.children[0].outerHTML;
        var patternColor = $(patternHtml).attr('fill');

        // Perform the base64 encoding of the String
        var base64Pattern = window.btoa(serialiazedPattern);

        //var patternPng = pattern.png();

        //console.log(patternPng);

        $('.background-img').css('background', 'url("data:image/svg+xml;base64,' + base64Pattern + '") no-repeat center center fixed');

        $('.resource-tag').css('background-color', patternColor);
        $('.resource-tag').colourBrightness();
        $('.fab').css('background-color', patternColor);
        $('.fab').colourBrightness();
        $('.resource-source').css('color', patternColor);

        // $(".resource-title").hover(function() {
        //   $(this).css('color', patternColor)
        // });

        $('.navigation-link').mouseover(function() {
          $(this).css('color', patternColor);
        }).mouseout(function() {
          $(this).css('color', 'black');
        });

        $('.resource-title').mouseover(function() {
          $(this).css('color', patternColor);
        }).mouseout(function() {
          $(this).css('color', 'black');
        });

        $(window).scroll(function() {
          //if you hard code, then use console
          //.log to determine when you want the
          //nav bar to stick.
          console.log($(window).scrollTop())
          if ($(window).scrollTop() > $('header').outerHeight()) {
            $('.navigation').addClass('navigation-fixed');
            // $('.navigation').css('background-color', patternColor);
            $('body').css('padding-top', $('.navigation').outerHeight());
            $('.fab').show();
          }
          if ($(window).scrollTop() < $('header').outerHeight()) {
            $('.navigation').removeClass('navigation-fixed');
            // $('.navigation').css('background-color', '#ffffff');
            $('body').css('padding-top', 0);
            $('.fab').hide();
          }
        });
      });
    </script>
  </body>
</html>
