<div class="resource">
  <a href="{{=it.url}}" target="_blank">
    <h3 class="resource-title">{{=it.title}}</h3>
  </a>
  <small class="resource-source"><p>
    Source:
      {{=it.source}}
  </small></p>
  <p class="resource-description">{{=it.description}}</p>
  <a href="/?tags={{=it.tags}}">
    <span class="resource-tag">{{=it.tags}}</span>
  </a>
  <!-- <div>
    <a href="{{=it.url}}" title="{{=it.url}}" target="_blank">
      <i class="fa fa-link"></i>
      <small>Permalink</small>
    </a>
  </div> -->
</div>
